.todo__main {
  margin: 7% auto 0;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(112, 112, 112, 0.8);
  max-width: 430px;
  padding: 4px 0;
  overflow: hidden;
  .receiver {
    display: flex;
    transition: 0.7s ease-out;

    form {
      padding-top: 3px;
    }
    .select {
      transition: 0.7s ease-out;
      //   cursor: pointer;
      //   width: 29px;
      //   height: auto;
      //   padding: 1px 0 4px 4px;
    }
    input {
      width: 100%;
      max-width: 300px;
      max-height: 30px;
      padding: 0 20px 0 0;
      border: 0;
      border-radius: 4px;
      outline: none;
      padding: 3px 3px 0 3px;
      font-size: 18px;
      font-family: "ubunto i", sans-serif;
    }
    input::placeholder {
      color: lightgrey;
      opacity: 0.8;
    }
  }
  .list {
    max-height: 55vh;
    overflow: auto;
    -ms-overflow-style: none;
    font-family: "ubunto r", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
    box-shadow: inset 0 10px 4px -3px rgba(0, 0, 0, 0.132);
    .item {
      display: flex;
      justify-content: space-between;
      padding: 6px 1px;
      margin: 1px 2px;
      .title {
        max-width: 366px;
        word-wrap: break-word;
        cursor: pointer;
        flex-grow: 3;
        width: 100%;
        .title_p {
          padding: 2px 0 0 0;
          font-size: 17px;
        }
        input {
          font-family: "ubunto r";
          padding: 2px 0 0 0;
          width: 100%;
          outline: none;
          border: none;
          font-size: 17px;
        }
      }
      .checkbox,
      .cross {
        cursor: pointer;
        flex-grow: 1;
        width: 27px;
        height: 27px;
      }
      .cross {
        padding: 2px 6px 0px 6px;
        opacity: 0;
      }
      .checkbox {
        margin-right: 5px;
      }
    }
    .item:hover .cross {
      opacity: 1;
    }
  }
  .list::-webkit-scrollbar {
    width: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    .filters {
      display: flex;
      .subFilter {
        margin: 0 3px;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 1px;
        cursor: pointer;
      }
      .subFilter:hover {
        border: 1px solid rgba(255, 127, 80, 0.5);
      }
      .active {
        border: 1px solid rgba(255, 127, 80, 0.5);
      }
    }

    .completed {
      padding: 1px 1px 2px 1px;
      cursor: pointer;
    }
    .completed:hover {
      border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
      padding-bottom: 1px;
    }
  }
}
